.bienvenue{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: auto;
    margin-top: 5%;
    width: 50%;
}

/* centre le composant au milieu de la page*/
.nbSearch{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
}