:root{
    --noir: #000;
    --noir-light: rgba(0, 0, 0, 0.671);
    --couleur-fond: #FFFFFF;
    --couleur-fond-light: #ffffffe8;
    --line-color: #B08968;
    --line-color-light: #DDB8926c;
    --border-color: #E6CCB2;
    --contrast-color: #dd5555;
    --button-color: #7F5539;
    --button-color-light: #9C6644;
    --violet-foncee: #2D033B;
}

h3{
    color: var(--button-color-light);
    text-align: center;
}

.bookCard{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    align-items: baseline;
    width: 80%;
    margin: auto;
}

.book {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    width: 20%;
    text-align: center;
    object-fit: contain;
}

.book > img{
    margin: 15%;
    object-fit: cover;
    height: 200px;
}

.book > div{
    color: var(--noir);
    clear: left;
    width: 100%;
    text-align: center;
}

.images{
    position: relative;
}
.images:hover {
    box-shadow: 0px 3px 9px rgba(45, 3, 59, 0.4);
    -webkit-box-shadow: 0px 3px 9px rgba(45, 3, 59, 0.4);
    -moz-box-shadow: 0px 3px 9px rgba(45, 3, 59, 0.4);
}

.images > a > img {
    background-size: cover; 
    background-position: center center; 
    background-repeat: no-repeat;
    border-radius: 2% 2% 0 0;
    transition: all 1s ease;
    -moz-transition: all 1s ease;
    -ms-transition: all 1s ease;
    -webkit-transition: all 1s ease;
    -o-transition: all 1s ease;
}
    
.images > a > img{
    width: 100%;
    height: 100%;
    aspect-ratio: 12/19;
    object-fit:cover;
    display: block;
}

.images > a > .hoverable:hover {
transform: scale(0.9);
border-radius: 2%;
}



















