.Produit{
    margin: auto;
    margin-top: 5%;
    margin-bottom: 5%;
    width: 60%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    border: 0.05em solid #7F55394d;
    border-radius: 1%;
}

.Produit > div > .image-box{
    flex-direction: column;
    width: 315px;
	text-align: center;
    object-fit: contain;
}
.image-box{
    border-radius: 0px;
    display: flex;
    align-items: center;
    justify-content:flex-end;
}
.image-box > img{
    object-fit: cover;
    height: 500px;
    width: 300px;
}

.text-box > div > a{
  text-decoration: none;
  margin-left: 7%;
  margin-right: 7%;
}

.text-box > div > a > button{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    left: 10%;
    width: 300px;
    padding: 5%;
    cursor: pointer;
    border: none;
    background: var(--button-color);
    transition: 0.5s;
}

.text-box > div > a > button > h2{
    color: var(--border-color);
    margin: 0%;
}

.text-box > div > a > button > img{
    height: 30px;
    width: 30px;
}

.text-box button:hover{
    scale: 1.1;
    transition: 0.3s;
}

.horizontal{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin: 2%;
}

.horizontal > .text-box{
    width: 70%;
    justify-content: start;
    align-items: flex-start;
    padding: auto;
}
.text-box{
    width: 100%;
}

.Produit > .text-box > div{
    display: flex;
    flex-direction: column;
    margin: 2%;
}

.horizontal > .text-box > div{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.Produit > .text-box > div > h3{
    text-align: justify;
}











/* LOADER */

.chargement{
    margin: auto;
    margin-top: 5%;
    margin-bottom: 5%;
    width: 30%;
    display: flex;
    text-align: center;
    flex-direction: column;
    justify-content: center;
}

.lds-roller {
    display: inline-block;
    position: relative;
    margin: auto;
    width: 80px;
    height: 80px;
  }
  .lds-roller div {
    animation: lds-roller 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
    transform-origin: 40px 40px;
  }
  .lds-roller div:after {
    content: " ";
    display: block;
    position: absolute;
    width: 7px;
    height: 7px;
    border-radius: 50%;
    background: #7F5539;
    margin: -4px 0 0 -4px;
  }
  .lds-roller div:nth-child(1) {
    animation-delay: -0.036s;
  }
  .lds-roller div:nth-child(1):after {
    top: 63px;
    left: 63px;
  }
  .lds-roller div:nth-child(2) {
    animation-delay: -0.072s;
  }
  .lds-roller div:nth-child(2):after {
    top: 68px;
    left: 56px;
  }
  .lds-roller div:nth-child(3) {
    animation-delay: -0.108s;
  }
  .lds-roller div:nth-child(3):after {
    top: 71px;
    left: 48px;
  }
  .lds-roller div:nth-child(4) {
    animation-delay: -0.144s;
  }
  .lds-roller div:nth-child(4):after {
    top: 72px;
    left: 40px;
  }
  .lds-roller div:nth-child(5) {
    animation-delay: -0.18s;
  }
  .lds-roller div:nth-child(5):after {
    top: 71px;
    left: 32px;
  }
  .lds-roller div:nth-child(6) {
    animation-delay: -0.216s;
  }
  .lds-roller div:nth-child(6):after {
    top: 68px;
    left: 24px;
  }
  .lds-roller div:nth-child(7) {
    animation-delay: -0.252s;
  }
  .lds-roller div:nth-child(7):after {
    top: 63px;
    left: 17px;
  }
  .lds-roller div:nth-child(8) {
    animation-delay: -0.288s;
  }
  .lds-roller div:nth-child(8):after {
    top: 56px;
    left: 12px;
  }
  @keyframes lds-roller {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }


