.search{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 20%;
    margin: auto;
    margin-top: 5%;
    transition: 0.3s;
    border-radius:25px;
    border: 1px solid var(--line-color);
}
.search:hover{
    scale: 1.05;
    transition: 0.5s;
}

.search input[type=text]{
    width:400px;
    height:40px;
    border: none;
    background-color: unset;
    outline: none;
}

.search button{
    border: none;
    background-color: unset;
}

.search img{
    height: 20px;
    margin: 10px 10px;
    font-size: 12px;
    cursor: pointer;
    transition: 0.3s;
    opacity: 80%;
}

.search img:hover{
    scale: 1.1;
    opacity: 100%;
}