.search{
    display: flex;
    justify-content: center;
    margin-top: 5%;
    transition: 0.3s;
}
.search:hover{
    scale: 1.05;
    transition: 0.5s;
}

.search input[type=text]{
    width:300px;
    height:30px;
    border-radius:25px;
    border: 1px solid var(--line-color);
    outline: none;
}

.search img{
    height: 40px;
    margin: 10px 10px;
    font-size: 12px;
    cursor: pointer;
    transition: 0.3s;
    opacity: 80%;
}

.search img:hover{
    scale: 1.1;
    opacity: 100%;
}