**/node_modules
**/books-sae.db
**/books-sae-test.db
**/coverage
**/.nyc_output
**/.idea
.vscode

# android

android/*.iml
android/.gradle
android/local.properties
android/.idea/caches
android/.idea/libraries
android/.idea/modules.xml
android/.idea/workspace.xml
android/.idea/navEditor.xml
android/.idea/assetWizardSettings.xml
android/.DS_Store
android/build
android/captures
android/.externalNativeBuild
android/.cxx
android/local.properties
